{% extends 'base.html' %}

{% block content %}
</div>
</header>
<div class="content">

    <form class="edit-from" action="/edit/{{ todo.id }}" method="post" enctype="multipart/form-data">
            <label for="title-area-todo">Заголовок</label><br>
            <textarea name="title" rows="3" id="title-area-todo" maxlength="500" required>{{ todo.title }}</textarea><br>
            <label for="description-area-todo">Описание</label><br>
            <textarea name="details" rows="5" id="description-area-todo" maxlength="500" required>{{ todo.details }}</textarea><br>
            <label for="tag-selecter">Тег</label><br>
            <select class="form-select" aria-label="Default select example" id="tag-selecter" name="tag">
                <option value="studies">
                    Учёба
                </option>
                <option value="personal">
                    Личное
                </option>
                <option value="plans">
                    Планы
                </option>
            </select>
            <input type="file" name="foto">
            <input type="text" name="token" id="edit-token" style="display: none;">
            <script type="text/javascript">
                const a = localStorage.getItem('token');
                document.getElementById('edit-token').value = a;
            </script>
            <label for="completed">Выполнено?</label>
            <input type="checkbox" name="completed" {% if todo.completed %}checked{% endif %} value="True"><br>
            <button type="submit" class="btn btn-primary">Изменить</button>
            <a href="/"><button type="button" class="btn btn-primary">Назад</button></a>
    </form>
    <div>
        {% if todo.tag == 'studies' %}
        <a href="/other_news">
            <button class="btn btn-outline-dark btn-lg" style="border-color: #b1ae00;">
                Учёба
            </button>
        </a>
        {% elif todo.tag == 'personal' %}
        <a href="/event_news" class="search-link">
            <button class="btn btn-outline-dark btn-lg" style="border-color: #42ac06;">
            Личное
            </button>
        </a>
        {% else %}
        <a href="/" class="search-link">
            <button class="btn btn-outline-dark btn-lg">
                Планы
            </button>
        </a>
        {% endif %}
    </div>
</div>
<style type="text/css">
    .content {
        margin-left: 43%;
        margin-right: 43%;
        margin-top: 100px;
    }
</style>
{% endblock content %}


