{% extends 'base.html' %}

{% block content %}
</div>
</header>

<div class="abc" style="margin-top: 350px;">
	<form action="/generate" method="post">
		<label for="counr-gen" class="form-label">Количество генерации ToDo</label>
		<input type="text" id="count-gen" class="form-control" name="count" required>
		<input type="text" name="token" id="generate-token" style="display: none;">
		<button type="submit" class="btn btn-primary">Сгенерировать</button>
	</form>
	<script type="text/javascript">
		var a = localStorage.getItem('token');
		document.getElementById('generate-token').value = a;
	</script>
</div>

{% endblock content %}