{% extends 'base.html' %}

{% block content %}
</div>
</header>

<div class="abc" style="margin-top: 220px;">
	<form action="/generate" method="post">
		<label for="url" class="form-label">URL</label>
		<input type="text" id="url" class="form-control" name="url" required>
		<label for="key" class="form-label">Key</label>
		<input type="text" id="key" class="form-control" name="key" required>
		<input type="text" name="token" id="git-token" style="display: none;">
		<button type="submit" class="btn btn-primary">Добавить</button>
	</form>
	<script type="text/javascript">
		var a = localStorage.getItem('token');
		document.getElementById('git-token').value = a;
	</script>
</div>

{% endblock content %}