{% extends 'base.html' %}

{% block content %}
</div>
</header>

<ul class="menu-footer">
	{% for i in importer %}
        <li><a href="/">{{ i.filename }}</a></li>
    {% endfor %}
</ul>
{% endblock content %}