{% extends 'base.html' %}

{% block content %}
			<div class="todo-container">
				<h2 style="text-align: center; margin-top: 10px;"> Добавление задания</h2>
				<hr>
				<form action="/add" method="post" enctype="multipart/form-data">
			        <label for="exampleFormControlTextarea1" class="form-label">Заголовок</label>
  					<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="title" maxlength="500" required></textarea>
			        <label for="exampleFormControlTextarea2" class="form-label">Описание</label>
  					<textarea class="form-control" maxlength="500"  id="exampleFormControlTextarea2" rows="3" name="details" required></textarea>
			        <label for="tag-selecter">Тег</label>
			        <select class="form-select" aria-label="Default select example" id="tag-selecter" name="tag">
			            <option value="studies">
			                Учёба
			            </option>
			            <option value="personal">
			                Личное
			            </option>
			            <option value="plans">
			                Планы
			            </option>
			        </select>
			        <label for="formFileMultiple" class="form-label">Изображение ToDo</label>
					<input class="form-control" type="file" id="formFileMultiple" name="foto" required />
					<input type="text" name="token" style="display: none;" id="add-token">
			        <button onclick="savePage()" type="submit" class="btn btn-success" style="margin-top: 10px;">Добавить</button>
			    </form>
			    <script type="text/javascript">
			    	const a = localStorage.getItem('token');
			    	console.log(a);
			    	document.getElementById('add-token').value = a;

			    	async function savePage(){
			    		sessionStorage.removeItem('page');
			    		sessionStorage.setItem('page', currentPage);
			    	}
			    </script>
			</div>
			<div class="todo-container">
				<label for="limit">
					limit
				</label>
				<input type="text" id="limit">
				<button type="button" class="btn btn-success" onclick="changeLimit()">
					Изменить
				</button>
				<script type="text/javascript">
					async function changeLimit() {
						sessionStorage.setItem('limit', document.getElementById('limit').value);
						window.location.href = '/';
					}
				</script>
			</div>
			<div class="none" style="height: 100px;">
				
			</div>
		</div>
	</header>

<div class="container" style="margin-bottom: 30px; margin-top: 50px; display: flex;">
    <div class="row d-flex justify-content-center">
        <a href="/filter?a=self" class="search-link">
            <button class="btn btn-outline-dark btn-lg" style="border-color: #42ac06;">
            Личное
            </button>
        </a>
        <a href="/filter?a=plans" class="search-link">
            <button class="btn btn-outline-dark btn-lg">
                Планы
            </button>
        </a>
        <a href="/filter?a=teach" class="search-link">
            <button class="btn btn-outline-dark btn-lg" style="border-color: #b1ae00;">
                Учёба
            </button>
        </a>
        <a href="/" class="search-link">
            <button class="btn btn-outline-dark btn-lg" style="border-color: #f00;">
                Все ToDo
            </button>
        </a>
    </div>
</div>


	<section id="about" class="about">
		<div class="container">
			<h2 style="text-align: center;">Задачи</h2>
			<hr>
			<div style="height: 40px;">
				<li>
                    <h3>Участники</h3>
                </li>
			</div>
			<div>				
	            <ol>
	                <li>
	                    <h6>1) 2019-4-18-fil</h6>
	                </li>
	                <li>
	                    <h6>2) 2019-4-22-shl</h6>
	                </li>
	                <li>
	                    <h6>3) 2019-4-17-utr</h6>
	                </li>
	                <li>
	                    <h6>4) 2019-5-24-kho</h6>
	                </li>
	            </ol>
    		</div>
        	<hr>
		    <div>
		        <p>Всего задач : {{ count_of_todos }}</p>
		    </div>
		    
		    <div class="container mt-4">
				<div class="row">
					{% for todo in todos %}
					<div class="col-md-3">
						<div class="card todo-card">
							<div class="todo-tag-div">
								{{ todo.tag }}
							</div>
							<style type="text/css">
								.todo-tag-div {
									border-bottom-width: 1px;
									border-bottom-style: solid;
									border-right-width: 1px;
									border-right-style: solid;
									border-left-width: 1px;
									border-left-style: solid;
									background: #01CCFB;
								}
							</style>
							{% if todo.image.path %}
							<img src="/app/{{ todo.image.path }}" style="height: 90px; width: 120px;" alt="Todo Image" class="card-img">
							{% else %}
							<img src="{{ url_for('static', path='img/gitlab.png') }}" alt="Todo Image" class="card-img">
							{% endif %}
							<h5 class="card-title">{{ todo.title[:15] }}</h5>
							<p class="card-text">{{ todo.details }}</p>
							<p class="card-text"><strong>Created Date:</strong> {{ todo.created_date }}</p>
							{% if todo.completed %}
							<p class="card-text"><strong>Completed:</strong> {{ todo.completed_date }}</p>
							{% else %}
							<p class="card-text"><strong></strong>.</p>
							{% endif %}
							{% if todo.completed %}
		                        <button type="button" class="btn btn-light" value="{{ todo.id }}" onclick="complete(this.value)">Вернуть</button>
		                    {% else %}
								<button type="button" class="btn btn-success" value="{{ todo.id }}" onclick="complete(this.value)">Выполнить</button>
							{% endif %}
							<button value="{{ todo.id }}" type="button" class="btn btn-warning" onclick="edit(this.value)">Редактировать</button>
							<script type="text/javascript">
								async function edit(value) {
									window.location.href = "/todo/" + value;
								}
							</script>
							<form method="POST" action="/delete/{{ todo.id }}">
								<input type="text" name="token" id="delete-token-{{ todo.id }}" style="display: none;">
								<button type="submit" class="btn btn-danger">Удалить</button>
							</form>
							<script type="text/javascript">
						    	document.getElementById('delete-token-{{ todo.id }}').value = a;
							</script>
							{% if todo.completed %}
								<p class="card-text"><strong>Status:</strong> Выполнено</p>
							{% else %}
								<p class="card-text"><strong>Status:</strong> Не выполнено</p>
							{% endif %}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

		    {% if count_of_todos >= 10 %}
		        <div class="container d-flex justify-content-center align-items-center" style="margin-top: 30px;">
		            <button id="prevPage" class="btn btn-outline-dark">Предыдущая страница</button>
		            <span id="currentPage" style="display: inline-block; padding: 15px;"></span>
		            <button id="nextPage" class="btn btn-outline-dark">Следующая страница</button>
		        </div>
		    {% endif %}
		</div>
	</section>

<script>
	function showItems(page) {
	    const startIndex = (page - 1) * itemsPerPage;
	    const endIndex = startIndex + itemsPerPage;

	    for (let i = 0; i < count_of_news; i++) {
	        if (i >= startIndex && i < endIndex) {
	            document.getElementsByClassName('col-md-3')[i].style.display = 'block';
	        } else {
	            document.getElementsByClassName('col-md-3')[i].style.display = 'none';
	        }
	    }
	}

	function updatePagination() {
	    let pagesTotal = Math.ceil(count_of_news / itemsPerPage)
	    if (pagesTotal === 0) {
	        pagesTotal = 1;
	    }
	    document.getElementById('currentPage').textContent = `Страница ${currentPage} / ${pagesTotal}`;
	}
	var limit = sessionStorage.getItem('limit');
	var page = sessionStorage.getItem('page');
	let itemsPerPage = 8;
	console.log(limit);
	if (limit != null) {
		itemsPerPage = limit;
	} 
    let currentPage = 1;
    if (page != null) {
    	currentPage = page;
    }
    let count_of_news = Number('{{ count_of_todos }}');
    showItems(currentPage);
    updatePagination();
    document.getElementById('prevPage').addEventListener('click', function () {
        if (currentPage > 1) {
            currentPage--;
            showItems(currentPage);
            updatePagination();
        }
    });
    document.getElementById('nextPage').addEventListener('click', function () {
        const maxPage = Math.ceil(count_of_news / itemsPerPage);
        if (currentPage < maxPage) {
            currentPage++;
            showItems(currentPage);
            updatePagination();
        }
    });
</script>
{% endblock content %}