<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Title</title>
	<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="icon" href="{{ url_for('static', path='img/star.ico') }}" type="image/x-icon">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="wrapper">
			<div class="ad-head">
				<h2 style="text-align: center;">Регистрация</h2>
			</div>
			<form action="/register-user" method="post" style="margin-bottom: 40px;">
				<div class="form-group">
					<label for="inputNicknameReg">Имя аккаунта</label>
					<input type="text" class="form-control" id="inputNicknameReg" name="username" maxlength="10" required>
				</div>
				<div class="form-group">
					<label for="inputPass">Пароль</label>
					<input type="password" class="form-control" id="inputPass" name="password" maxlength="40" required>
				</div>
				<div class="d-flex justify-content-center" style="padding-top: 20px;">
					<button type="submit" class="btn btn-outline-dark btn-lg">Зарегистрироваться</button>
				</div>

			</form>
		</div>
	</div>
</body>

</html>
